<html <head> <link rel='stylesheet' href='/stylesheets/style.css'> 
     </head> <header id="mainBar">
    <div class="contenedorLogos">
        <img class="imagenLogo" src="/images/spiderman.png">
        <img class="imagenLogo DC" src="/images/dccomics.png">
        <img class="imagenLogo WW" src="/images/wonderwoman.png">
        <img class="imagenLogo MC" src="/images/marvelComics.png">
        <img class="imagenLogo" src="/images/batmanslogo.png">
        <img class="imagenLogo" src="/images/supermann.png">
        <img class="imagenLogo" src="/images/marvelLady.png">
    </div>

    <div class="search-bar-signs">
        <form class="formSearchBar">
            <input type="search" class="searchBar">
        </form>
        
        <ul class="menues">
       <li> Registrarse</li>
       <li>watch all</li>


        </ul>




    </div>
</header>

</html>