<div class="header">

    <div class="logoHeader">

        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/DCnew.png"> </div>
        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/wonderwoman.png"> </div>
        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/marvelComics.png"> </div>
        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/logoverde.png"> </div>
        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/batmanslogo.png"> </div>
        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/supermann.png"> </div>
        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/marvelLady.png"> </div>
        <div class="contenedorLogos"> <img class="imagenLogo" src="/images/heroclxWorlds.png"> </div>
       



    </div>
    <div class="contenedorSearchmenu">

        <div class="searchBar"> <input type="search" class="search-bar"> </div>
        <ul class="menuDesktop">
            <li>Home</li>
            <li>Products</li>
            <li>Products</li>
            <li>Products</li>
            <li>Sign</li>
        </ul>
    </div>
</div>