<div class="header" >
         
    <div class="logoHeader"> <h1 class="titleHeader">What a clix you have, hero</h1>
                             <h3 class="subtitle">Hello, my name is Matías Dalceggio and i'm doing this just for fun!</h3></div>
<div class="contenedorSearchmenu">

    <div class="searchBar"> <input type="search" class="search-bar"> </div>
        <ul class="menuDesktop"> 
  <li>Home</li>
    <li>Products</li>
    <li>Products</li>
    <li>Products</li>
    <li>Sign</li>
        </ul>
    </div>
</div>

 