<header id="mainBar">
    <div class="contenedorLogos">
        <img class="imagenLogo"  src="/images/heroclxWorlds.png">
        <img class="imagenLogo DC" src="/images/DCmasnuevo.png">
        <img class="imagenLogo" src="/images/wonderwoman.png">
        <img class="imagenLogo" src="/images/marvelComics.png">
        <img class="imagenLogo"  src="/images/batmanslogo.png">
        <img class="imagenLogo"  src="/images/supermann.png">
        <img class="imagenLogo" src="/images/marvelLady.png">
    </div>

    <div class="search-bar-signs">
        
    <input type="search"> 
    <ul>
    <li>Sign in
    </li>
    <li>

    </li>    
    <li>

    </li>
    
    
    </ul>
    
    
    
    
    </div>
</header>