<form action="/figures/create"   enctype="multipart/form-data" METHOD="POST"> 
    
    <input type="text" name="name"> <label for="name">Figure Name:</label>
    <input type="radio" name="universe"> <label for="universe" value="DC"></label>
                          <label for="universe"></label>
                
    <input type="submit">



</form>