<!DOCTYPE html>
<html>


  <head>
    <title>  </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>  <%- include('./partials/header') %></header>
  <body class="body">

 
    <h1></h1>
    <p> </p>

    <div class="contenedorSlider">

      <div id="slide-0" class="slide fade">

       <img src="/images/slider0.jpg" alt="img0"> 

      </div>

      <div id="slide-1" class="slide fade">

       <img src="/images/slider1.jpg" alt="img1"> 

      </div>

      <div id="slide-2" class="slide fade">

       <img src="/images/slider2.jpg" alt="img2"> 

      </div>

      <div id="slide-3" class="slide fade">

        <img src="/images/slider3.jpg" alt="img3"> 
 
       </div>

      
      
    </div>


  </body>

    <script src="/public/javascripts/script.js">    </script>

</html>

