<!DOCTYPE html>
<html>


  <head>
    <title>  </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>  <%- include('./partials/header') %></header>
  <body class="body">

 
    <h1></h1>
    <p> </p>
  </body>
</html>

