* {box-sizing: border-box;}


body { margin: auto;}



#mainBar { width: 100%;
margin: 0px;
display: flex;
flex-direction: row;
padding: 0px;
background-color: rgb(250, 189, 76);    }

.contenedorLogos { display: flex;
 flex-direction: row;

 flex-wrap: wrap;
  justify-content: space-between;
 position: sticky;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 0px;
 width: 50%;}

 .search-bar-signs { display: flex;
flex-direction: column;
width: 45%;}

 .imagenLogo { width: 10.5%;
                 margin: auto 2px;}

             
               