.nav-bar { width: 100%;
            display: flex;
            margin: 0px;
            height: 15vh;
            background-color: rgb(8, 179, 127);}

.ulnav-bar {display: flex;
 flex-direction: row;
  }

 .Bnav-bar { margin: auto 15px;
               font-size: 20px;
               padding: 5px;
               }